@import "tailwindcss";

@theme {
  --breakpoint-xs: 425px;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #121212;
    color: white;
  }
}

#root {
  min-height: 100vh;
  overflow-x: hidden;
}